.cart {
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;

  &__item {
    &-img {
      margin-right: 15px;
      order: -1;
      max-height: 80px;
    }
  }

  &__button {
    &s {
      margin-top: 24px;
      display: flex;
      column-gap: 5px;
      justify-content: flex-end;
    }
  }
}